@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* BackGround: #EDF2F4 
   bigColor1: #40c9ff -blue
   bigColor2: #e81cff-purple
   hover:#6FB6FF darker blue
  

*/

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #EDF2F4;
    /* background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); */

}
.login-container, .register-container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-upper, .register-upper{
    height: 66.67%;
    margin: 0% auto 10%; /* Center the gradient */
    padding: 20px;
    bottom: 100px;
    color:#EDF2F4;
    border-radius: 10px;

    background: hsla(197, 100%, 63%, 1);

    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );

}
h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #40c9ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6FB6FF;
}

#error {
    color: red;
    margin-top: 10px;
}

.addExpenseForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Optional: Adjust margin as needed */
}

.input-group {
    display: flex;
    flex-grow: 1; /* Allow input fields to grow to fill remaining space */
    margin-right: 10px; /* Optional: Adjust spacing between input fields */
}

.input-group input,
.input-group select {
    flex-grow: 1; /* Allow input fields and select to grow to fill remaining space */
    margin-right: 10px; /* Optional: Adjust spacing between input fields */
}

#addExpenseBtn {
    /* Optional: Adjust button styles */
}
